Repository docker/mcp-registry, pull requests merged in 2025-07, with the labels that each got.

#22 [Feat] Add pref-editor server
  servers/pref-editor/server.yaml
Labels: New MCP Server

#18 [Feat] Add SEC EDGAR MCP server
  servers/sec-edgar/server.yaml
Labels: New MCP Server

#32 adding text-to-graphql server
  servers/text-to-graphql/server.yaml
Labels: New MCP Server

#23 Added kubectl mcp server
  servers/kubectl-mcp-server/server.yaml
Labels: New MCP Server

#47 Add Ref mcp server config
  servers/Ref/server.yaml
Labels: New MCP Server

#54 Fix Circle CI Build
  servers/circleci/server.yaml
Labels: enhancement

#31 Add singlestore MCP server docker image
  servers/singlestore/server.yaml
Labels: New MCP Server

#62 Adding the Root.io MCP
  servers/root/server.yaml
Labels: New MCP Server

#70 Added schogini-mcp-image-border MCP server
  servers/schogini-mcp-image-border/server.yaml
Labels: New MCP Server

#61 Add LinkedIn MCP Server
  servers/linkedin-mcp-server/server.yaml
Labels: New MCP Server

#69 Add: Needle MCP Server (search, rag)
  servers/needle-mcp/server.yaml
Labels: New MCP Server

#78 Adding CockroachDB MCP Server to registry
  servers/cockroachdb/server.yaml
Labels: New MCP Server

#74 Update LinkedIn MCP Server secret name for clarity
  servers/linkedin-mcp-server/server.yaml
Labels: Update MCP Server

#93 Add Omi MCP server to MCP registry
  servers/omi/server.yaml
Labels: New MCP Server

#106 Add Airtable MCP Server
  servers/airtable-mcp-server/server.yaml
Labels: New MCP Server

#99 updates details for brave search
  servers/brave/server.yaml
Labels: Update MCP Server

#92 Add Inspektor Gadget MCP Server
  servers/inspektor-gadget/server.yaml
Labels: New MCP Server

#109 Add Firewalla MCP Server
  servers/firewalla-mcp-server/server.yaml
Labels: New MCP Server

#105 Update Desktop Commander configuration
  servers/desktop-commander/server.yaml
Labels: Update MCP Server

#71 Add Okta MCP Server - Enterprise Identity & Access Management
  servers/okta-mcp-fctr/LICENSE
  servers/okta-mcp-fctr/README.md
  servers/okta-mcp-fctr/server.yaml
Labels: New MCP Server

#38 Add entry for hoverfly mcp server
  servers/hoverfly-mcp-server/server.yaml
Labels: New MCP Server
